form {
    width: 400px;
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px auto;
    border-radius: 10px;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
    padding: 10px;
    height: 30px;
}

select {
    padding: 0;
}